.login {
  margin: 25vh 25vw;
  background-color: rgb(44, 44, 44);
  color: aliceblue;
  border-radius: 12px;
}
body {
  background-image: url("../assets/images/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  background-attachment: fixed;
  overflow-y: hidden;
}
